<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css} "/>
</head>
<body>
<div th:insert="header/header :: mainHeader"></div>
<div class="container pt-5">

    <div th:each="iteratedPost: ${allPosts}" >
        <div th:insert="post/post :: bigPost(fragmentPost = ${iteratedPost})"></div>
    </div>

</div>
<div th:insert="footer/footer :: mainFooter"></div>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
</body>
</html>